#bebestibles.container {
    background-image: url("../assets/img/background_black.png");
    /* height: 500px; */

    background-size: cover;
    position: relative;

    padding-bottom: 20px;

    box-sizing: border-box;
}

#bebestibles .page_header {
    background-image: url("../assets/img/cover_top.png");
    height: 140px;

    background-size: cover;
}

#bebestibles .page_title p {
    margin-top: 20px;
    font-size: 48px;
    font-family: 'Drustic Dialy Condensed';

    position: relative;
    top: -15px;
    
}

#bebestibles .subt_title p {
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: normal;
    font-family: 'Drustic Dialy Condensed';
    text-align: center;

    margin-bottom: 50px;

    position: relative;
    top: -15px;
}

#latas.row {
    margin-top: 20px;
    justify-content: space-around;
    margin-bottom: 10px;
}

#latas.row img {
    width: 35px;
}

#jugo.row {
    flex-direction: column;
    margin-top: 20px;
}

#jugo .page_title {
    height: 150px;
}

#jugo  img {
    width: 100px;
    position: absolute;
    top: -60px ;
}

#jugo .page_title p {
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;

    position: relative;
    top: 30px;
    z-index: 1;
}

